<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <h1>User Detail</h1>
  <table class="table-light table-striped" cellpadding="10" cellspacing="10" border="0" style="border-collapse: collapse;">
    <tr>
      <td>ID</td>
      <td><%= user.id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= user.email %></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><%= user.gender %></td>
    </tr>
    <tr>
      <td>Status</td>
      <td><%= user.status %></td>
    </tr>
  </table>
  <a href="/">Back to User List</a>
</body>
</html>
